$white: #ffffff;
$black: #000000;
$blue: #4d9ecd;
$teal: #5dc1a3;
$purple: #6a2480;
$pink: #b2306e;
$yellow: #f4c023;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Roboto:300i,400');

$header: 'Montserrat', sans-serif;
$bodycopy: 'Roboto', sans-serif;

$fw-l: 300i;
$fw-n: 400;
$fw-b: 800;

//  Prototype Link 
//  https://projects.invisionapp.com/prototype/cjpd1l0t90046tq01f0tod0o2/play